{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau lieu{% endblock %}

{% block body %}

    <h1 class="d-flex justify-content-center">Créer un lieu</h1>

    {{ form_start(formLieu) }}

    <div class="mb-3">
        {{ form_label(formLieu.nomLieu) }}
        {{ form_widget(formLieu.nomLieu) }}
        {{ form_errors(formLieu.nomLieu) }}
    </div>

    <div class="mb-3">
        {{ form_label(formLieu.rue) }}
        {{ form_widget(formLieu.rue) }}
        {{ form_errors(formLieu.rue) }}
    </div>

    <div class="mb-3">
        {{ form_label(formLieu.ville) }}
        {{ form_widget(formLieu.ville) }}
        {{ form_errors(formLieu.ville) }}
    </div>

    <div class="mb-3">
        {{ form_label(formLieu.latitude) }}
        {{ form_widget(formLieu.latitude) }}
        {{ form_errors(formLieu.latitude) }}
    </div>

    <div class="mb-3">
        {{ form_label(formLieu.longitude) }}
        {{ form_widget(formLieu.longitude) }}
        {{ form_errors(formLieu.longitude) }}
    </div>

    <div class="mb-3 d-flex justify-content-center">
        {{ form_widget(formLieu.submit) }}
    </div>
    {{ form_end(formLieu) }}

    <div class="d-flex justify-content-center">
        <a class="navbar-brand" href="{{ url('main_home') }}"><button value='annuler' class='btn btn-secondary'>Retour accueil</button></a>
    </div>

{% endblock %}
