{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau lieu{% endblock %}

{% block body %}

    <h2>Créer un lieu</h2>

    <!-- affichage des messages d'erreur et de confirmation -->
    {% for group, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ group }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(formLieu) }}

    <div class="mb-3">
        {{ form_label(formLieu.nomLieu) }}
        {{ form_widget(formLieu.nomLieu) }}
        {{ form_errors(formLieu.nomLieu) }}
    </div>

    <div class="mb-3">
        {{ form_label(formLieu.rue) }}
        {{ form_widget(formLieu.rue) }}
        {{ form_errors(formLieu.rue) }}
    </div>

    <div class="mb-3">
        {{ form_label(formLieu.ville) }}
        {{ form_widget(formLieu.ville) }}
        {{ form_errors(formLieu.ville) }}
    </div>

    <div class="mb-3">
        {{ form_label(formLieu.latitude) }}
        {{ form_widget(formLieu.latitude) }}
        {{ form_errors(formLieu.latitude) }}
    </div>

    <div class="mb-3">
        {{ form_label(formLieu.longitude) }}
        {{ form_widget(formLieu.longitude) }}
        {{ form_errors(formLieu.longitude) }}
    </div>

    <div class="mb-3">
        {{ form_widget(formLieu.submit) }}
    </div>
    {{ form_end(formLieu) }}

{% endblock %}
