{% extends 'base.html.twig' %}

{% block title %}Afficher une Sortie!{% endblock %}

{% block body %}


    <h1>Afficher une sortie</h1>
    L'utilisateur courant est: {{ app.user.nom }}<br>

<table class ="table table-borderless">
    <tr><td>Nom de la sortie: {{ sortie.nom }}</td>
        <td>Campus: {{ sortie.getCampus().nom }}{# {{ campus.nom }} #}</td></tr>
    <tr><td>Date et heure de la sortie: {{ sortie.dateHeureDebut|date("m/d/Y") }}</td><td>Lieu: {{ sortie.getLieu().nomLieu }}</td></tr>
    <tr><td>Date limite d'inscription: {{  sortie.dateLimiteInscription|date("m/d/Y") }}</td><td>Ville: {{ sortie.getLieu().getVille().nom }}</td></tr>
    <tr><td>Nombre de places: {{ sortie.nbParticipantsMax }}</td><td>Rue: {{ sortie.getLieu().rue }}</td></tr>
    <tr><td>Durée: {{ sortie.duree }} minutes</td><td>Code postal: {{  sortie.getLieu().getVille().codePostal}}</td></tr>
    <tr><td>Description et Infos: {{ sortie.infosSortie }}</td><td>Latitude: {{ sortie.getLieu().latitude }}</td></tr>
    <tr><td>Longitude: {{ sortie.getLieu().longitude }}</td></tr>

</table>

    <br><br><br>
    <b>Liste des participants inscrits: </b><br>
    <table class ="table table-bordered table-striped">
        <tr >
            <td>Pseudo</td>
            <td>Nom</td>
        </tr>


   {% for user in sortie.getParticipants() %}
       <tr>
    <td>{{ user.pseudo }}</td><td>{{ user.prenom }} {{ user.nom }}</td>
       </tr>

    {% endfor %}
    </table>
    L'utilisateur {{  app.user.pseudo }}
    {% if(sortie.getParticipants().contains(app.user)) %}
         est inscrit à cette sortie.
        <button name='add_sortie' type ='submit' value="'_add_sortie" class='btn btn-secondary' disabled>S'inscrire</button>
        {% else %}
            n'est pas inscrit à cette sortie.
            {% if(sortie.getEtat().getLibelle()=='Ouvert' or sortie.getEtat().getLibelle()=='En cours') %}
            {# L'utilsateur  ne peut s'inscrire que si il n'est pas déjà inscrit à cette sortie et si l'état de la sortie est "Ouvert"(correspondant à l'id 2)
             ou "En cours" (correspondant à l(id 4) dans le cas contraire il es disabled #}
            <a href="{{ path('sortie_add_sortie', { 'id': sortie.id }) }}">
                <button name='add_sortie' type ='submit' value="'_add_sortie" class='btn btn-secondary'>S'inscrire</button>
            </a>
                {% else %}
                    <button name='add_sortie' type ='submit' value="'_add_sortie" class='btn btn-secondary' disabled>S'inscrire</button>
            {% endif %}
    {% endif %}
    {#                              <a href="{{ url('sortie_modifier', { 'id': sortie.id }) }}" title="Modifier la sortie">Modifier</a>

    <a href="{{ path ('\affichersortie', {'id' : app.user.id})}}" class="btn btn-success text-white" href="#">Inscription</a> #}
    <br><br>



{% endblock %}
