{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}


{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
    {% endif %}

    {% if app.request.attributes.get('_route') == 'app_register' %}
        <h1 class="d-flex justify-content-center">Créer un nouvel utilisateur </h1>
    {% endif %}


    {% if app.request.attributes.get('_route') == 'edit_profile' %}
        <h1 class="d-flex justify-content-center">Modifiez votre profil {{ app.user.pseudo }}</h1>

        {# //Si on est en modification, afficher l'image de profil. #}
        <div class="d-flex justify-content-center mt-3 ">

        {% for image in user.images %}
                <div class="zoom">
                    <figure>
                        <div class="d-flex justify-content-center">
                            <img src="{{ asset('/uploads/'~image.name) }}" alt="photo de profil">
                        </div>
                        <div class="d-flex justify-content-center">
                            <P>Votre photo de profil</P>
                        </div>
                        {# Lien permettant de supprimer une image (sera géré en Ajax) #}
                        <a href="{{ path('user_delete_image', {id: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}" methods="DELETE">Supprimer la photo</a>
{#                        <a href="{{ path('user_delete_image', { "id": image.id }) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer la photo</a>#}
                    </figure>
                </div>
        {% endfor %}
        </div>

    {% endif %}

    <!-- affichage du formulaire -->
    {{ form_start(registrationForm) }}

    <div class="mb-3">
        {{ form_label(registrationForm.nom) }}
        {{ form_widget(registrationForm.nom) }}
        {{ form_errors(registrationForm.nom) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.prenom) }}
        {{ form_widget(registrationForm.prenom) }}
        {{ form_errors(registrationForm.prenom) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.mail) }}
        {{ form_widget(registrationForm.mail) }}
        {{ form_errors(registrationForm.mail) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.telephone) }}
        {{ form_widget(registrationForm.telephone) }}
        {{ form_errors(registrationForm.telephone) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.pseudo) }}
        {{ form_widget(registrationForm.pseudo) }}
        {{ form_errors(registrationForm.pseudo) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.campus) }}
        {{ form_widget(registrationForm.campus) }}
        {{ form_errors(registrationForm.campus) }}
    </div>

    <div class="mb-3">
        {# {{ form_label(registrationForm.plainPassword) }} #}
        {{ form_widget(registrationForm.plainPassword) }}
        {{ form_errors(registrationForm.plainPassword) }}
    </div>

    <div class="mb-3">
        {# {{ form_label(registrationForm.plainPassword) }} #}
        {{ form_widget(registrationForm.image) }}
        {{ form_errors(registrationForm.image) }}
    </div>

    {% if not is_granted("ROLE_ADMIN") %}
    {% endif %}

    <div class="mb-3 d-flex justify-content-center">
        {{ form_widget(registrationForm.submit) }}
    </div>
    {{ form_end(registrationForm) }}

    <div class="mb-3 d-flex justify-content-center">
        <a class="navbar-brand" href="{{ url('main_home') }}">
            <button value='annuler' class='btn btn-secondary'>Retour accueil</button>
        </a>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}
