{% extends 'base.html.twig' %}

{% block title %}Accueil - Sortons casqués{% endblock title %}
{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css"
          rel="stylesheet"/>
{% endblock stylesheets %}
{% block javascripts %}
        {#{{ insertion du fichier js }}#}
        <script src="{{ asset('js/datepicker.js') }}"></script>
{% endblock %}

{% block body %}

<div class="mb-3">
    <h1>Accueil</h1>
    <div class="row">
         <h5 class="d-flex justify-content-end">Date du jour : {{ "now"|date("d/m/Y") }}</h5>
         <h5 class="d-flex justify-content-end">Participant : {{ app.user.pseudo }}</h5>
    </div>
    <div class="mb-3">
        <!-- affichage des messages d'erreur et de confirmation -->
        {% for group, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ group }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <h3>Filtrer les sorties</h3>
        <div id="search">
            {{ form_start(searchForm, { 'attr': {'class': 'form'} }) }}
            <div class="row justify-content-between custom-line">

                <div class="col-5">
                    {{ form_row(searchForm.campus) }}
                    {{ form_row(searchForm.motclef) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(searchForm.dateDebut) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(searchForm.dateFin) }}
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    {{ form_row(searchForm.organisateur) }}
                    {{ form_row(searchForm.inscrit) }}
                    {{ form_row(searchForm.pasInscrit) }}
                    {{ form_row(searchForm.passees) }}
                </div>
                <div class="col-2"><p>{{ form_widget(searchForm.submit) }}</p></div>
            </div>
                {{ form_end(searchForm) }}
            </div>
        </div>
        <div>
            <table class="table">
                <thead>
                <tr>
                    {# Nom des colonnes #}
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">inscrits/places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}
                    {# Récupérer les différentes variables afin de faire des filtres en conséquence #}
                    {% set dateDebut = sortie.dateHeureDebut|date('Y-m-d') %}
                    {% set dateDuJour = "now"|date('Y-m-d') %}
                    {% set dateEcart = date(dateDuJour).diff(date(dateDebut)) %}
                    {# Affichage des sorties de moins de 30 jours #}
                    {% if dateEcart.days >= 30 %}
                    {% else %}
                        {% set inscrit = false %}
                        {# resultat de requete inscription sortie de l'utilisateur #}
                        {% for inscription in inscrits %}
                            {# si la sortie est égale à l'inscription #}
                            {% if inscription.id == sortie.id %}
                                {% set inscrit = true %}
                            {% endif %}
                        {% endfor %}
                        {# si organisateur alors inscrit d'office #}
                        {% if app.user == sortie.organisateur %}
                            {% set inscrit = true %}
                        {%  endif %}
                    <tr>
                        <td>{{ sortie.nom|capitalize }}</td>
                        <td>{{ sortie.dateHeureDebut|date('d/m/Y H:m:s') }}</td>
                        <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                        <td>{{ sortie.participants.count() }} / {{ sortie.nbParticipantsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>
                            {% if inscrit %}
                                X
                            {% endif %}
                        </td>
                        <td>
                            {# CLIQUABLE PSEUDO #}
                            {% if app.user == sortie.organisateur %}
                                <a href="{{ url('edit_profile', {'id': sortie.organisateur.id}) }}" title="Afficher pseudo">{{ sortie.organisateur.pseudo }}</a>
                            {% else %}
{#                                <a href="{{ url('app_register', {'id': sortie.id}) }}" title="Afficher pseudo">{{ sortie.organisateur.pseudo }}</a>#}
                                {{ sortie.organisateur.pseudo }}
                            {% endif %}

                        </td>
                        <td>
                            {# AFFICHER #}
                            {# etat ouvert #}
                            {% if sortie.etat.id == 2 %}
                                <a href="{{ url('display_sortie', {'id': sortie.id}) }}" title="Afficher une sortie">Afficher</a>
                                {# etat en cours ou fermé #}
                            {% elseif (sortie.etat.id == 4 or sortie.etat.id == 3) and app.user != sortie.organisateur %}
                                <a href="{{ url('display_sortie', {'id': sortie.id}) }}" title="Afficher une sortie">Afficher</a>
                                <a href="{{ url('sortie_desister', { 'id': sortie.id }) }}" title="Se désinscrire de la sortie">Se désister</a>
                            {% else %}
                                Afficher
                            {% endif %}
                            {# MODIFIER #}
                            {% if app.user == sortie.organisateur and sortie.etat.id == 1 %}
                                <a href="{{ url('sortie_modifier', { 'id': sortie.id }) }}" title="Modifier la sortie">Modifier</a>
                            {% endif %}
                            {# PUBLIER #}
                            {%  if app.user == sortie.organisateur and sortie.etat.id == 1 %}
                                <a href="{{ url('sortie_publier', { 'id': sortie.id }) }}" title="Publier la sortie">Publier</a>
                            {% endif %}
                            {# S'INSCRIRE = AFFICHER #}
                            {%  if app.user == sortie.organisateur and sortie.etat.id == 2 and sortie.participants.count() <= sortie.nbParticipantsMax %} %}
                                <a href="{{ url('display_sortie/create.html.twig', { 'id': sortie.id }) }}" title="S'inscrire à la sortie">S'inscrire</a>
                            {% endif %}
                            {# ANNULER #}
                            {% if app.user == sortie.organisateur and sortie.etat.id == 2 or is_granted('ROLE_ADMIN') and sortie.etat.id == 2 or sortie.etat.id == 3 %}
                                <a href="{{ url('sortie_annuler', { 'id': sortie.id }) }}" title="Annuler la sortie">Annuler</a>
                            {% endif %}
                            {# SE DESISTER #}
                            {% if app.user != sortie.organisateur and (sortie.etat.id == 2 or sortie.etat.id == 3) and inscrit %}
                                <a href="{{ url('sortie_desister', { 'id': sortie.id }) }}" title="Se désinscrire de la sortie">Se désister</a>
                            {% endif %}
                        </td>
                    </tr>
                        {% endif %}
                {% else %}
                    <tr class="text-center">
                        <th class="text-center text-muted" scope="row" colspan="8">Aucune événement trouvé...</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="row justify-content-center">
                <a href="{{ path('sortie_create') }}"><button name='create' type='submit' value='create' class="col-2 btn btn-primary mt-4">Créer une sortie</button></a>
            </div>

        </div>
    </div>
</div>
{% endblock body %}
