{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock title%}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Accueil</h1>
    <h3>Date du jour : {{ "now"|date("d/m/Y") }}</h3>
    <h3>Participant : {{ app.user.pseudo }}</h3>
    <div>
        <h3>Filtrer les sorties</h3>
        <div id="search">
            {{ form_start(searchForm, { 'attr': {'class': 'form'} }) }}
                {{ form_row(searchForm.campus) }}
                {{ form_row(searchForm.motclef) }}
                {{ form_row(searchForm.dateDebut) }}
                {{ form_row(searchForm.dateFin) }}
                {{ form_row(searchForm.organisateur) }}
                {{ form_row(searchForm.inscrit) }}
                {{ form_row(searchForm.pasInscrit) }}
                {{ form_row(searchForm.passees) }}
           {{ form_end(formSearch) }}
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">inscrits/places</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr>
                    <th scope="row">{{ sortie.nom }}</th>
                    <td><a href="{{ url('wish_detail', {"id": wish.id }) }}">{{ wish.title|capitalize }}</a></td>
                    <td>{{ sortie.dateHeureDebut|date('d/m/Y H:m:s') }}</td>
                    <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                    <td>{{ sortie.etat }}</td>
                    <td>X</td>
                    <td>{{ sortie.organisateur }}</td>
                    <td>
                        {# Afficher #}
                        {%  if sortie.etat == 2
                            or sortie.etat == 3
                            or sortie.etat == 4
                            or sortie.etat == 5
                            or sortie.etat == 6 %}
                            <a href="{{ url('index', {'id': sortie.id}) }}" title="Afficher une sortie"></a>
                        {% endif %}
                        {# Modifier #}
                        {% if app.user == sortie.organisateur and sortie.etat == 1 %}
                            <a href="{{ url('sortie_modifier', { 'id': sortie.id }) }}" title="Modifier la sortie"></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}
