{% extends 'base.html.twig' %}

{% block title %}Afficher une sortie{% endblock %}

{% block body %}
    <h2 class="d-flex justify-content-center">Afficher une sortie</h2>
    <br><br>
    <div class=" d-flex justify-content-center">
        <div class="col-10">
            <table class="table table-hover ">
                <tr>
                    <td>Nom de la sortie : </td><td>{{ sortie.nom }}</td> {# colonne #}
                    <td>Campus : </td><td>{{ sortie.getCampus().nom }}</td>
                </tr> {# ligne #}
                <tr>
                    <td>Date et heure de la sortie : </td><td>{{ sortie.dateHeureDebut|date("d/m/Y H:i:s") }}</td> {# colonne #}
                    <td>Lieu : </td><td>{{ sortie.getLieu().nomLieu }}</td> {# colonne #}
                </tr> {# ligne #}
                <tr>
                    <td>Date limite d'inscription : </td><td>{{  sortie.dateLimiteInscription|date("m/d/Y") }}</td> {# colonne #}
                    <td>Rue : </td><td>{{ sortie.getLieu().rue }}</td> {# colonne #}
                </tr> {# ligne #}
                <tr>
                    <td>Nombre de places :</td><td> {{ sortie.nbParticipantsMax }}</td> {# colonne #}
                    <td>Code postal :</td><td> {{ sortie.getLieu().getVille().codePostal}}</td> {# colonne #}
                </tr> {# ligne #}
                <tr>
                    <td>Durée : </td><td>{{ sortie.duree }} minutes</td> {# colonne #}
                    <td>Latitude : </td><td>{{ sortie.getLieu().latitude }}</td> {# colonne #}
                </tr> {# ligne #}
                <tr>
                    <td>Description et Infos :</td><td> {{ sortie.infosSortie }}</td> {# colonne #}
                    <td>Longitude : </td><td>{{ sortie.getLieu().longitude }}</td> {# colonne #}
                </tr> {# ligne #}
            </table>
        </div>
    </div>
    <br><br><br>
    <b>Liste des participants inscrits: </b><br>
    <table class ="table table-bordered table-striped">
        <tr >
            <td>Pseudo</td>
            <td>Nom</td>
        </tr>
        {% for user in sortie.getParticipants() %}
            <tr>
                <td><a href="{{ url('afficher_profil', {'id': user.id}) }}" title="Afficher pseudo">{{ user.pseudo }}</a></td>
                <td>{{ user.prenom }} {{ user.nom }}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="d-flex justify-content-center">
        {% if(sortie.getParticipants().contains(app.user)) %}
            <button name='add_sortie' type ='submit' value="'_add_sortie" class='btn btn-primary mx-lg-2' disabled>S'inscrire</button>
        {% else %}
            {% if(sortie.getEtat().getLibelle()=='Ouvert' or sortie.getEtat().getLibelle()=='En cours') %}
                {# L'utilsateur  ne peut s'inscrire que si il n'est pas déjà inscrit à cette sortie et si l'état de la sortie est "Ouvert"(correspondant à l'id 2)
                 ou "En cours" (correspondant à l'id 4) dans le cas contraire il es disabled #}
                <a href="{{ path('sortie_add_sortie', { 'id': sortie.id }) }}">
                    <button name='add_sortie' type ='submit' value="'_add_sortie" class='btn btn-primary mx-lg-2'>S'inscrire</button>
                </a>
            {% else %}
                <button name='add_sortie' type ='submit' value="'_add_sortie" class='btn btn-primary mx-lg-2' disabled>S'inscrire</button>
            {% endif %}
        {% endif %}
        <a href="{{ url('sortie_home') }}">
            <button class='btn btn-secondary mx-lg-2'>Retour accueil</button>
        </a>
    </div>
{% endblock body %}