{% extends 'base.html.twig' %}

{% block title %}Annuler une Sortie{% endblock %}

{% block body %}

    <h1>Annuler une sortie</h1>

    <table>
        <tr>
            <td>Nom de la sortie :</td>
            <td>{{ sortie.nom }}</td>
        </tr>
        <tr>
            <td>Date et heure de la sortie :</td>
            <td>{{ sortie.dateHeureDebut|date("m/d/Y") }}</td>
        </tr>
         <tr>
            <td>Lieu :</td>
            <td>{{ sortie.lieu.nomLieu }}</td>
         </tr>
         <tr>
             <td>Campus :</td>
             <td>{{ sortie.campus.nom }}</td>
         </tr>
    </table>

    {{ form_start(formSortie) }}

    {{ form_label(formSortie.motifAnnulation, 'Motif d\'annulation* :') }}
    {{ form_widget(formSortie.motifAnnulation, {'attr': {'class': 'form-control', 'required' : 'required' }}) }}
    {{ form_errors(formSortie.motifAnnulation) }}

    <div class="mb-3">
        {{ form_widget(formSortie.submit) }}
    </div>
    {{ form_end(formSortie) }}

    <!-- Retour accueil-->
    <a href="{{ url('sortie_home') }}">
        <button class='btn btn-info'>Retour</button>
    </a>

{% endblock %}
