{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block stylesheets %}
    <script src="{{ asset('js/scripts.js') }}"></script>
{% endblock %}

{% block body %}

    {% if app.request.attributes.get('_route') == 'sortie_create' %}
        <h1 class="d-flex justify-content-center">Créer une sortie</h1>
    {% else %}
        <h1 class="d-flex justify-content-center">Modifiez une sortie</h1>
    {% endif %}

    {{ form_start(formSortie) }}

    <div class="mb-3">
        {{ form_label(formSortie.nom) }}
        {{ form_widget(formSortie.nom) }}
        {{ form_errors(formSortie.nom) }}
    </div>

    <div class="mb-3">
        {{ form_label(formSortie.dateHeureDebut) }}
        {{ form_widget(formSortie.dateHeureDebut) }}
        {{ form_errors(formSortie.dateHeureDebut) }}
    </div>

    <div class="mb-3">
        {{ form_label(formSortie.duree) }}
        {{ form_widget(formSortie.duree) }}
        {{ form_errors(formSortie.duree) }}
    </div>

    <div class="mb-3">
        {{ form_label(formSortie.dateLimiteInscription) }}
        {{ form_widget(formSortie.dateLimiteInscription) }}
        {{ form_errors(formSortie.dateLimiteInscription) }}
    </div>

    <div class="mb-3">
        {{ form_label(formSortie.infosSortie) }}
        {{ form_widget(formSortie.infosSortie) }}
        {{ form_errors(formSortie.infosSortie) }}
    </div>

    <div class="mb-3">
        {{ form_label(formSortie.nbParticipantsMax) }}
        {{ form_widget(formSortie.nbParticipantsMax) }}
        {{ form_errors(formSortie.nbParticipantsMax) }}
    </div>

    <div class="mb-3">
        {{ form_label(formSortie.campus) }}
        {{ form_widget(formSortie.campus) }}
        {{ form_errors(formSortie.campus) }}
    </div>

    <div class="mb-3">
        {{ form_label(formSortie.ville) }}
{#        <a href="{{ path('lieu_afficher_ville', {'id': 'x'}) }}" class="villeChoisie" >#}
            {{ form_widget(formSortie.ville, {'attr': {'id': 'ville'}}) }}
{#        </a>#}
        {{ form_errors(formSortie.ville) }}
    </div>

    <div class="mb-3">
        {{ form_label(formSortie.lieu) }}
        {{ form_widget(formSortie.lieu, {'attr': {'class': 'lieu'}}) }}
        {{ form_errors(formSortie.lieu) }}
    </div>

    <div class="mb-3">
        <ul id="infosLieuSelect" style="list-style-type: none">
            <li id="nomLieu"></li>
            <li id="rueLieu"></li>
            <li id="longLieu"></li>
            <li id="latLieu"></li>
        </ul>
    </div>

    <!-- formulaire ajouter un lieu // méthode avec js mais ne fonctionne pas -->
    {# <button class="btn-info" type="button" name="ajoutLieu" id="btnAjoutLieu">Ajouter un lieu</button> #}

    {# <div id="ajoutFormLieu" class="cache"> #}
    {# {{ form(formLieu) }} #}
    {# </div> #}


    <!-- ajouter un lieu en formulaire imbriqué / méthode M. Racine mais pas adapté-->
    {# <div class="mb-3" style="text-align: right;"> #}
    {# <div class="col-xs-4"> #}
    {# {{ form_row(formLieu.nom) }} #}
    {# {{ form_row(formLieu.ville) }} #}
    {# {{ form_row(formLieu.rue) }} #}
    {# {{ form_row(formLieu.longitude) }} #}
    {# {{ form_row(formLieu.latitude) }} #}
    {# <a href="#" style="width:100%;" class="js-wishes-remove btn-danger btn">Remove Wish</a><hr/> #}
    {# </div> #}
    {# <a href="#" class="js-wishes-add btn-secondary btn">Ajouter un lieu</a> #}
    {# </div> #}
    {# </div> #}

    <div class="mb-3 cache">
        {{ form_label(formSortie.motifAnnulation) }}
        {{ form_widget(formSortie.motifAnnulation) }}
        {{ form_errors(formSortie.motifAnnulation) }}
    </div>

    <!-- bouton submit -->
    <div class="mb-3 d-flex justify-content-center">
        {{ form_widget(formSortie.submit) }}
    </div>

    {{ form_end(formSortie) }}

    <div class="mb-3 d-flex justify-content-center">
    <!-- Ajouter un lieu -->
    <a href="{{ path('lieu_create') }}">
        <button id="btnAjoutLieu" name='lieu' value='lieu' class='btn btn-info'>Créer un lieu</button>
    </a>
    </div>

    <!-- Si on arrive par la route modifier-->
    <!-- Publier -->
    <div class="mb-3 d-flex justify-content-center">
    {% if app.request.attributes.get('_route') == 'sortie_modifier' %}
        <a href="{{ url('sortie_publier', { "id": id }) }}">
            <button name='publier' value='publier' class='btn btn-primary'>Publier</button>
        </a>
        <!-- Annuler -->
        <a href="{{ url('sortie_motifannulation', { "id": id }) }}">
            <button id="btnAnnulerSortie" name='annuler' value='annuler' class='btn btn-danger'>Annuler</button>
        </a>
    {% endif %}

    <a class="navbar-brand" href="{{ url('sortie_home') }}">
        <button value='annuler' class='btn btn-secondary'>Retour accueil</button>
    </a>
    </div>

{% endblock %}


{% block javascripts %}

{#    <script>#}
{#        $(document).ready(function () {#}
{#            $(".btn-info").click(function () {#}
{#                $(".cache").toggleClass("clique");#}
{#            });#}
{#        });#}
{#    </script>#}

    <!-- js lié au formulaire imbriqué -->
    {# <script> #}
    {# jQuery(document).ready(function() { #}
    {# let $wrapper = $('.js-lieu-wrapper'); #}
    {# $wrapper.on('click', '.js-lieu-add', function(e) { #}
    {# e.preventDefault(); #}
    {# let prototype = $wrapper.data('prototype'); #}
    {# let index = $wrapper.data('index'); #}
    {# let newForm = ((index === 0) ? '<hr/>' : '') + prototype.replace(/__name__/g, index) + '<a href="#" style="width:100%;" class="js-lieu-remove btn-danger btn">Remove Wish</a><hr/>'; #}
    {# newForm += '<span class="mb-3 mt-3"></span>'; #}
    {# $wrapper.data('index', index + 1); #}
    {# $(this).before(newForm); #}
    {# }); #}
    {# $wrapper.on('click', '.js-lieu-remove', function(e) { #}
    {# alert("A vous de jouer !"); #}
    {# }); #}
    {# }); #}
    {# </script> #}

{#    Ajax pour afficher les infos du lieu sélectionné   #}
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>

            function onChangeAfficherInfosLieu(event) {
                event.preventDefault();
                var idLieu = document.getElementById('sortie_lieu').value ; // on récupère l'id du lieu choisi

                axios.get('/lieu/afficherInfos/'+idLieu).then(function (response) {
                    console.log(response.data);
                    const ul = document.getElementById('infosLieuSelect');

                    //On affiche les lieux du lieu.
                    var liNom = document.getElementById('nomLieu');
                    liNom.textContent = 'Nom du lieu : ' + response.data.nom ;
                    var liRue = document.getElementById('rueLieu');
                    liRue.textContent = 'Rue : ' + response.data.rue ;
                    var liLong = document.getElementById('longLieu');
                    liLong.textContent = 'Longitude : ' + response.data.longitude ;
                    var liLat = document.getElementById('latLieu');
                    liLat.textContent = 'Latitude : ' + response.data.latitude ;
                    ul.appendChild(liNom);
                    ul.appendChild(liRue);
                    ul.appendChild(liLong);
                    ul.appendChild(liLat);
                })
            }

            document.querySelectorAll('.lieu').forEach(function (link) {
                link.addEventListener('change', onChangeAfficherInfosLieu);
            });

        </script>

{% endblock javascripts %}
