{% extends 'base.html.twig' %}

{% block title %}Accueil - Sortons casqués{% endblock title %}
{# {% block stylesheets %} #}
{# <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" #}
{# rel="stylesheet"/> #}
{# {% endblock %} #}

{% block body %}

    <div class="mb-3">
        <h1>Accueil</h1>
        <div class="row">
            <h5 class="d-flex justify-content-end">Date du jour : {{ "now"|date("d/m/Y") }}</h5>
            <h5 class="d-flex justify-content-end">Participant : {{ app.user.pseudo }}</h5>
        </div>
        <div class="mb-3">
            <h3>Filtrer les sorties</h3>
            <div id="search">
                {{ form_start(searchForm, { 'attr': {'class': 'form'} }) }}
                <div class="row justify-content-between custom-line">
                    <div class="col-5">
                        {{ form_row(searchForm.campus) }}
                        {{ form_row(searchForm.motclef) }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(searchForm.dateDebut) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(searchForm.dateFin) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        {{ form_row(searchForm.organisateur) }}
                        {{ form_row(searchForm.inscrit) }}
                        {{ form_row(searchForm.pasInscrit) }}
                        {{ form_row(searchForm.passees) }}
                    </div>
                    <div class="col-2"><p>{{ form_widget(searchForm.submit) }}</p></div>
                </div>
                {{ form_end(searchForm) }}
            </div>
        </div>
        <div>
            <table class="table">
                <thead>
                <tr>
                    {# Nom des colonnes #}
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">inscrits/places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}
                    {# Récupérer les différentes variables afin de faire des filtres en conséquence #}
                    {% set dateDebut = sortie.dateHeureDebut|date('Y-m-d') %}
                    {% set dateUnMoisAvant = "now"|date_modify("-"~nbjours~" day")|date('Y-m-d') %}
                    {# Affichage des sorties de moins de 30 jours #}
                    {% if dateUnMoisAvant >= dateDebut %}
                    {% else %}
                        {% set inscrit = 0 %}
                        {# resultat de requete inscription sortie de l'utilisateur #}
                        {% for inscription in inscrits %}
                            {# si la sortie est égale à l'inscription #}
                            {% if inscription.id == sortie.id %}
                                {% set inscrit = 1 %}
                            {% endif %}
                        {% endfor %}
                        {# si organisateur alors inscrit d'office #}
                        {% if app.user == sortie.organisateur %}
                            {% set inscrit = 1 %}
                        {% endif %}
                        <tr id="ligne{{ sortie.id }}">
                            <td>{{ sortie.nom|capitalize }}</td>
                            <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i:s') }}</td>
                            <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                            <td id="inscritsPlaces{{ sortie.id }}">{{ sortie.participants.count() }} / {{ sortie.nbParticipantsMax }}</td>
                            <td>{{ sortie.etat.libelle }}</td>
                            <td id="inscr{{ sortie.id }}">
                                {% if inscrit == 1 %}
                                    X
                                {% endif %}
                            </td>
                            <td>
                                {# CLIQUABLE PSEUDO #}
                                {% if app.user == sortie.organisateur %}
                                    <a href="{{ url('edit_profile', {'id': sortie.organisateur.id}) }}" title="Afficher pseudo">{{ sortie.organisateur.pseudo }}</a>
                                {% else %}
                                    <a href="{{ url('afficher_profil', {'id': sortie.organisateur.id}) }}" title="Afficher pseudo">{{ sortie.organisateur.pseudo }}</a>
                                {% endif %}

                            </td>
                            <td>
                                {# AFFICHER #}
                                {# etat ouvert #}
                                {% if sortie.etat.id is constant('App\\Service\\EtatEnum::ETAT_OUVERT') %}
                                    <a href="{{ url('sortie_afficher',{'id': sortie.id}) }}" title="Afficher une sortie">Afficher</a>
                                    {# etat en cours ou fermé #}
                                {% elseif (sortie.etat.id is constant('App\\Service\\EtatEnum::ETAT_ENCOURS') or sortie.etat.id is constant('App\\Service\\EtatEnum::ETAT_FERME')) %}
                                    <a href="{{ url('sortie_afficher',{'id': sortie.id}) }}" title="Afficher une sortie">Afficher</a>
                                {% endif %}
                                {# MODIFIER #}
                                {% if app.user == sortie.organisateur and sortie.etat.id is constant('App\\Service\\EtatEnum::ETAT_CREATION') %}
                                    <a href="{{ url('sortie_modifier', { 'id': sortie.id }) }}" title="Modifier la sortie">Modifier</a>
                                {% endif %}
                                {# PUBLIER #}
                                {% if app.user == sortie.organisateur and sortie.etat.id is constant('App\\Service\\EtatEnum::ETAT_CREATION') %}
                                    <a href="{{ url('sortie_publier', { 'id': sortie.id }) }}" title="Publier la sortie">Publier</a>
                                {% endif %}

                                {# fonctionne avcec rechargement de la page #}
                                {# S'INSCRIRE = AFFICHER #}
                                {# {%  if app.user != sortie.organisateur and sortie.etat.id == 2 and sortie.participants.count() <= sortie.nbParticipantsMax and not inscrit %} #}
                                {# <a href="{{ url('sortie_sinscrire', { 'id': sortie.id }) }}" title="S'inscrire à la sortie" class="inscrire">S'inscrire </a> #}

                                {# {% endif %} #}
                                {# SE DESISTER #}
                                {# {% if app.user != sortie.organisateur and (sortie.etat.id == 2 or sortie.etat.id == 3) and inscrit %} #}
                                {# <a href="{{ url('sortie_desister', { 'id': sortie.id }) }}" title="Se désinscrire de la sortie" class="inscrire">Se désinscrire</a> #}
                                {# {% endif %} #}


                                {# Ajax sans rechargement de la page #}
                                {# S'INSCRIRE ET SE DESISTER #}
                                {% if app.user != sortie.organisateur and sortie.etat.id is constant('App\\Service\\EtatEnum::ETAT_OUVERT') and sortie.participants.count() <= sortie.nbParticipantsMax %}
                                    <a href="{{ url('sortie_inscriptions', { 'id': sortie.id }) }}" data-sortie="{{ sortie.id }}" class="inscrire">
                                        <p>
                                            {% if inscrit == 1 %}  <i class="far fa-calendar-minus"></i>{% else %} <i class="far fa-calendar-plus"></i> {% endif %}
                                            <span class="statut">{% if inscrit == 1 %}Se désinscrire{% else %} S'inscrire{% endif %}</span>
                                        </p>
                                    </a>
                                {% endif %}

                                {# ANNULER #}
                                {% if (app.user == sortie.organisateur and (sortie.etat.id is constant('App\\Service\\EtatEnum::ETAT_CREATION') or sortie.etat.id is constant('App\\Service\\EtatEnum::ETAT_OUVERT')
                                    or sortie.etat.id is constant('App\\Service\\EtatEnum::ETAT_FERME'))) or
                                    (is_granted('ROLE_ADMIN') and (sortie.etat.id is constant('App\\Service\\EtatEnum::ETAT_CREATION') or sortie.etat.id is constant('App\\Service\\EtatEnum::ETAT_FERME')
                                    or sortie.etat.id is constant('App\\Service\\EtatEnum::ETAT_OUVERT'))) %}
                                    <a href="{{ url('sortie_motifannulation', { 'id': sortie.id }) }}" title="Annuler la sortie">Annuler</a>
                                {% endif %}

                            </td>
                        </tr>
                    {% endif %} {# dateEcart.days >= nbjours #}
                {% else %}
                    <tr class="text-center">
                        <th class="text-center text-muted" scope="row" colspan="8">Aucun événement trouvé...</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="d-flex justify-content-center">
                <a href="{{ path('sortie_create') }}">
                    <button name='create' type='submit' value='create' class="btn btn-primary mt-4">Créer une sortie</button>
                </a>
            </div>

        </div>
    </div>
    </div>
{% endblock body %}


{% block javascripts %}

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        //Requête Ajax pour inscrire ou désinscrire dynamiquement un utilisateur à la sortie.
        function onClickSinscrire(event) {
            event.preventDefault();
            const url = this.href ;
            const links = this.querySelector('span.statut') ;
            const icone = this.querySelector('i');

            //On récupère l'id par les data-set
            const id = this.dataset.sortie;
            const ligne = document.getElementById('ligne'+id) ;
            const nbInscrits = document.getElementById('inscritsPlaces'+id) ;
            const inscr = document.getElementById('inscr'+id) ;

            //Exécution de la requête Ajax
            axios.get(url).then(function (response) {
                console.log(response.data);
                links.textContent = response.data.choix;
                nbInscrits.textContent = '';
                nbInscrits.textContent = response.data.nbInscrits + ' / ' + response.data.nbPlaces;
                inscr.textContent = response.data.inscrit;
                //Actualiser l'icone dynamiquement (s'effectue au rechargement de la page).
                if (icone.classList.contains('fa-calendar-plus')) {
                    icone.classList.replace('fa-calendar-plus', 'fa-calendar-minus');
                }else {
                    icone.classList.replace('fa-calendar-minus', 'fa-calendar-plus');
                }
            })
        }
        //Ajout d'un écouteur d'événement sur le lien cliqué.
        document.querySelectorAll('a.inscrire').forEach(function (link) {
            link.addEventListener('click', onClickSinscrire);
        });

    </script>


{% endblock %}
