{% extends 'base.html.twig' %}

{% block title %}Liste des villes{% endblock %}

{% block body %}

        <h1 class="d-flex justify-content-center mt-4">Liste des villes</h1>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Ville</th>
                <th scope="col">Code postal</th>
                <th scope="col">Lieux</th>
            </tr>
            </thead>
            <tbody>
            {% for ville in pagination %}
                <tr class="table-primary">
                    <th scope="col">{{ ville.nom }}</th>
                    <th scope="col">{{ ville.codePostal }}</th>
                    <th scope="col">
                        <span class="js-likes">{{ ville.lieux | length }}</span>
                        <span class="js-label">lieux</span></th>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class=" d-flex justify-content-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    <div class="mb-3 d-flex justify-content-center">
        <a class="navbar-brand" href="{{ url('sortie_home') }}"><button value='annuler' class='btn btn-secondary'>Retour accueil</button></a>
    </div>
{% endblock %}
