{% extends 'base.html.twig' %}

{% block title %}Liste des villes{% endblock %}

{% block body %}

        <h1 class="d-flex justify-content-center mt-4">Liste des villes</h1>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Ville</th>
                <th scope="col">Code postal</th>
                <th scope="col">Lieux</th>
            </tr>
            </thead>
            <tbody>
            {% for ville in pagination %}
                <tr>
                    <td scope="col">{{ ville.nom }}</td>
                    <td scope="col">{{ ville.codePostal }}</td>
                    <td scope="col">
                        <span>{{ ville.lieux | length }}</span>
                        <span>lieux</span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class=" d-flex justify-content-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    <div class="mb-3 d-flex justify-content-center">
        <a class="navbar-brand" href="{{ url('sortie_home') }}"><button value='annuler' class='btn btn-secondary'>Retour accueil</button></a>
    </div>
{% endblock %}
