{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}


{% block body %}
    <div class="mb-3 d-flex justify-content-center">
        <h2>{{ user.pseudo }}</h2>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-6">
                <div class=" d-flex justify-content-center">
                    <div class="col-md">
                        <table class="table table-hover ">
                            <tr>
                                <td>Prénom :</td> {# colonne #}
                                <td>{{ user.prenom }}</td> {# colonne #}
                            </tr> {# ligne #}
                            <tr>
                                <td>Nom :</td> {# colonne #}
                                <td>{{ user.nom }}</td> {# colonne #}
                            </tr> {# ligne #}
                            <tr>
                                <td>Téléphone :</td> {# colonne #}
                                <td>{{ user.telephone }}</td> {# colonne #}
                            </tr> {# ligne #}
                            <tr>
                                <td>Email :</td> {# colonne #}
                                <td>{{ user.mail }}</td> {# colonne #}
                            </tr> {# ligne #}
                            <tr>
                                <td>Campus :</td> {# colonne #}
                                <td>{{ user.campus.nom }}</td> {# colonne #}
                            </tr> {# ligne #}
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-6">
                {% for image in user.images %}
                    <div class="d-flex justify-content-center">
                        <img src="{{ asset('/uploads/'~image.name) }}" alt="photo de profil" width="20%">
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row mt-4">
            <div class="d-flex justify-content-center">
                <a href="{{ url('sortie_home') }}">
                    <button class='btn btn-secondary'>Retour accueil</button>
                </a>
            </div>
        </div>

    </div>
{% endblock %}